@model QuestionEntity;

@{
    var ticket = (Ticket)ViewBag.Ticket;

    ViewData["Title"] = "Ticket" + ticket.Id;
    var imageUrl = string.IsNullOrEmpty(Model.Image)
        ? "car.png"
        : Model.Image + ".png";

    var ticketData = (List<Ticketdata>)ViewBag.TicketData;
}

@for (int i = ticket.FromIndex; i < ticket.FromIndex + ticket.QuestionCount; i++)
{
    var btnIndex = i - ticket.FromIndex + 1;
    var questionIndexModul = i == Model.id ? "btn btn-primary" : "btn btn-secondary";

    var questionData = ticketData.FirstOrDefault(data => data.QuestionId == i);
    if (questionData != null)
    {
        questionIndexModul = questionData.Answer ? "btn btn-success" : "btn btn-danger";
    }

    <a class="@questionIndexModul"
   asp-action="Exam"
   asp-route-ticketId="@ticket.Id"
   asp-route-questionId="@i">@btnIndex</a>
}

<br>
<img class="w-25 mt-5" src="~/images/@imageUrl" />

@if (ticket.IsTraining)
{
    <div class="accordion my-2" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    @Model.Question
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @Model.Description
                </div>
            </div>
        </div>

    </div>
}

@{
    int k = 1;
}
@foreach (var choice in Model.Choices!)
{
    var modul = "btn btn-info mb-3";
    if (choice.Id == ViewBag.ChoiceId)
    {
        modul = ViewBag.Answer == true
            ? "btn btn-success mb-3" : "btn btn-danger mb-3";
    }
    <a asp-action="Exam"
   asp-route-ticketId="@ticket.Id"
   asp-route-questionId="@Model.id"
   asp-route-choiceId="@choice.Id" class=@modul>@k. @choice.Text</a>
    <br>

    k++;
}